#password-box{
    max-width: 420px;
}
#password-box form input.form-control{
    border-color: #ccc;
    outline: none;
    box-shadow: none;
}
#password-box form span{
	color:#59adfd !important;
}
#password-box form input{
	border-left: none;
	font-size: 0.9rem;
}
#password-box form button{
	padding:12px 0;
}
#password-box form button.btn-register,.d-color{
	background: #59adfd;
}
#password-box form button.btn-email{
	border:1px solid #ccc;
	color:#333;
}
#password-box form button.btn-email:hover{
	background: #e6e6e6;
}
