#register-box{
    max-width: 420px;
}
#register-box div input.form-control{
    border-color: #ccc;
    outline: none;
    box-shadow: none;
}
#register-box div span{
	color:#59adfd !important;
}
#register-box div ul>li{
	font-size: 0.9rem;
}
#register-box div input{
	border-left: none;
	font-size: 0.9rem;
}
#register-box div button{
	padding:12px 0;
}
#register-box div button.btn-register{
	background: #59adfd;
}
#register-box div button.btn-email{
	border:1px solid #ccc;
	color:#333;
}
#register-box div button.btn-email:hover{
	background: #e6e6e6;
}
